@import "../../../assets/styles/resources";

.customDatepicker {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100px;
    cursor: pointer;
}

.datepickerButton {
    width: 100%;
    height: 100px;
    position: relative;
    background: transparent;
    border: none;
    border-radius: 4px;
    transition: .2s;
    border: 1px solid #ebebeb;
    &:hover{
        background: #f5f5f5;
        border-color: #ebebeb;
    }

    &__content {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center;
    }
    &__icon{
        color: #a8a8a8;
        margin-bottom: 10px;
    }

    &__label{
        margin: 0;
        font-size: 11px;
        color: $textColor;
        font-weight: 500;
    }
}
