@import "../../../assets/styles/resources";

.checkboxContainer{
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 25px;
}

.box{
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background: #ffffff;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s;
    &:hover{
        border-color: $primaryColor;
    }
}

.box__icon{
    color: #fff;
    font-size: 12px;
}

.box__icon__hide{
    display: none;
}

.box__checked{
    background: $primaryColor;
    &:hover{
        background:$primaryColor;
    }
}

.checkbox{
    display: block;
}

.label{
    margin-left: 15px;
    margin-top: 3px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}
