@import "../../../assets/styles/resources";

.selectBox{
    position: relative;
}

.select{
    width: 100%;
    padding: 15px 0;
    border: none;
    border-bottom: 2px solid #ebebeb;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    &:focus{
        border-bottom-color: $primaryColor;
    }
    &:hover{
        border-color: $primaryColor;
    }
}

.select:focus + label{
    top: -10px;
    font-size: 12px;
    color: $primaryColor;
}

.label{
    position: absolute;
    top: 15px;
    left: 0;
    font-size: 14px;
    font-weight: 500;
    transition: .1s;
}

.label__toggled{
    top: -10px;
    font-size: 12px;
    color: $primaryColor;
}

.arrow{
    position: absolute;
    top: 15px;
    right: 0;
    color: $primaryColor;
}

.dropdown{
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: 1px solid #ebebeb;
    border-top: none;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: .2s;
    li{
        padding: 15px 10px;
        font-size: 14px;
        font-weight: 500;
        transition: .2s;
        &:hover{
            color: $primaryColor;
            cursor: pointer;
            padding-left: 15px;
        }
    }
}

.dropdown__toggled{
    height: auto;
    opacity: 1;
}