@import "../../assets/styles/resources";

.card{
    width: 300px;
    height: 200px;
    background: #3d3d3d;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0,0,0,.4);
    transform: translate(30%, -60%);
    opacity: 0;
    transition: .2s;
    visibility: hidden;
    &__overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0,0,0,.4);
        z-index: 100;
        opacity: 0;
        transition: .2s;
        cursor: pointer;
    }
    &:hover &__overlay{
        opacity: 1;
    }
    &__bottom{
        position: absolute;
        width: 100%;
        z-index: 9999;
        bottom: 0;
        padding: 10px;
    }
    &__title{
        color: #fff;
        font-size: 14px;
        font-weight: 500;
    }
    &__opened{
        opacity: 1;
        visibility: visible;
        transform: translate(20%,-60%);
    }
    &__img{
        position: absolute;
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 4px;
        top: 0;
        left: 0;
    }
    &__contacts{
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 10px 0;
        &__left , &__right{
            display: flex;
            align-items: center;
            padding: 0 5px;
            color: #fff;
            span{
                font-size: 12px;
                font-weight: 500;
                margin: 0 5px;
                color: #fff;
            }
        }
    }
}