@import "../../assets/styles/resources";

.homeTabs {
    background: #ffffff;
    border-bottom: 1px solid #ebebeb;

    &__wrapper {
        display: flex;
        flex-direction: row;
        padding: 0 25px;
    }

    &__left {
        display: flex;
        align-items: center;
        width:20%;
    }

    &__right {
        width:80%;
        display: flex;
        justify-content: flex-end;
    }

    &__title {
        font-size: 16px;
        font-weight: 500;
    }

    &__tab {
        position: relative;
        color: $textColor;
        padding: 0 60px;
        height: 60px;
        background: transparent;
        font-size: 14px;
        font-weight: 500;
        font-family: "Roboto",sans-serif;
        border: none;
        cursor: pointer;
        &:before{
            position: absolute;
            content: "";
            width: 0;
            height: 2px;
            background: $primaryColor;
            left: 0;
            bottom: 0;
            transition: .2s ease-in-out;
        }
        &__active{
            color: $primaryColor;
            &:before{
                width: 100%;
            }
        }
        &:hover{
            color: $primaryColor;
            &:before{
                width: 100%;
            }
        }
    }

    &__tabIcon{
        margin-right: 10px;
    }
}