.homeLayout {
    display: flex;
    flex-direction: row;
    height: 100vw;
    &__filters , 
    &__items{
        width: 400px;
        min-height: 100%;
        background-color: #fff;
        border-right: 1px solid #ebebeb;
    }
    &__mapbox{
        width: calc(100% - 800px);
        min-height: 100%;
    }
}