@import "../../../assets/styles/resources";

.button{
    position: relative;
    background: $primaryColor;
    color: #fff;
    border-radius: 4px;
    width: 100%;
    height: 48px;
    border: none;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    &__icon{
        position: relative;
        margin-left: 10px;
        font-size: 14px;
    }
    &:before{
        left: 0;
        top:0;
        content: "";
        position: absolute;
        width: 0;
        height: 48px;
        background: lighten($primaryColor,10);
        transition: .5s;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
    }
    &__text{
        position: relative;
    }
    &:hover{
        &:before{
            width: 100%;
            border-radius: 0;
        }
    }
}
