@import "../../assets/styles/resources";

.card{
    position: relative;
    height: 230px;
    width: 100%;
    border: 1px solid #ebebeb;
    cursor: pointer;
    &:hover &__description{
        transform: translateY(-50px);
    }
    &__overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0,0,0,.2);
    }
    &__logo{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin-top: -50px;
        border: 2px solid #fff;
    }
    &__img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 230px;
        img{
            width: 100%;
            height: 230px;
        }
    }
    &__description{
        position: absolute;
        width: 100%;
        padding: 20px;
        height: 140px;
        bottom: -2px;
        background: #fff;
        transition: .2s;
        display: flex;
        flex-direction: column;
        align-items: center;
        &:hover{
            transform: translateY(-50px);
        }
        &__title{
            display: block;
            font-size: 14px;
            font-weight: 500;
            color: $textColor;
            margin-top: 10px;
        }
        &__text{
            font-size: 12px;
            color: #a8a8a8;
            margin-top: 10px;
        }
    }
    &__bottom{
        position: absolute;
        bottom: -2px;
        width: 100%;
        padding:10px;
        background: #fff;
        border-bottom: 1px solid #ebebeb;
        display: flex;
        flex-direction: row;
    }
    &__category{
        width: 50%;
        display: flex;
        align-items: center;
        &__icon{
            width: 30px;
            height: 30px;
            background: #ff4949;
            border-radius: 50%;
            display: flex;
            color: #fff;
            justify-content: center;
            align-items: center;
            font-size: 12px;
            margin-right: 10px;
        }
        &__name{
            font-size: 12px;
            font-weight: 500;
            text-transform: capitalize;
        }
    }
    &__buttons{
        width:50%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    &__button{
        background: transparent;            
        border: 1px solid #ebebeb;
        border-radius: 50%;
        width: 28px;
        height: 28px;
        font-size: 12px;
        margin: 0 0 0 10px;
        cursor: pointer;
        &:hover &__icon{
            color: $primaryColor;
        }
        &__icon{
            color: $textColor;
        }
    }
    &__contacts{
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-top: 15px;
        &__left , &__right{
            width: 50%;
            display: flex;
            align-items: center;
            padding: 0 5px;
            color: #a8a8a8;
            span{
                font-size: 12px;
                font-weight: 500;
                margin: 0 5px;
                color: $textColor;
            }
        }
        &__left{
            justify-content: flex-end;
        }
    }
}
