@import "../../../assets/styles/resources";

.inputBox{
    position: relative;
}

.input{
    position: relative;
    width: 100%;
    padding: 15px 0;
    border: none;
    border-bottom: 2px solid #ebebeb;
    outline: none;
    z-index: 1;
    background: transparent;
    font-size: 14px;
    font-weight: 500;
    &:hover{
        border-bottom-color: $primaryColor;
    }
    &:focus{
        border-bottom-color: $primaryColor;
    }
}

.locationIcon{
    position: absolute;
    top: 15px;
    right: 0;
}

.input:focus + label{
    top: -10px;
    font-size: 12px;
    color: $primaryColor;
}

.label{
    position: absolute;
    top: 15px;
    left: 0;
    font-size: 14px;
    font-weight: 500;
    transition: .1s;
    z-index: 0;
}

.label__toggled{
    top: -10px;
    font-size: 12px;
    color: $primaryColor;
}
