@import "../../../assets/styles/resources";

.button{
    background: transparent;
    border: none;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: $textColor;
    display: block;
    width: 100%;
    margin: 15px 0;
    cursor: pointer;
    &__icon{
        margin-right: 10px;
    }
    &__rotate{
        animation-name: rotate;
        animation-duration: 1s;
        animation-iteration-count: infinite;
    }
}

@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}