@import "../../assets/styles/resources";

.tabs{
    display: flex;
    flex-direction: row;
    &__button{
        position: relative;
        width: 50%;
        color: $textColor;
        background: transparent;
        border: none;
        font-weight: 500;
        font-size: 14px;
        border-bottom: 2px solid #E0E0E0;
        padding: 0 0 15px;
        cursor: pointer;
        outline: none;
        &:before{
            position: absolute;
            content: "";
            width: 0;
            height: 2px;
            background-color: $primaryColor;
            left: 0;
            bottom: -2px;
            transition: .2s ease-in-out;
        }
        &:hover{
            &:before{
                width: 100%;
            }
        }
    }
    &__button__active{
        &:before{
            width: 100%;
        }
    }
    &__button__icon{
        margin-right: 7px;
    }
}