@import "../../../assets/styles/resources";

.wrapper{
  position: relative;
  padding: 10px 0;
}

.input__min{
  position: absolute;
  width: 100%;
}

.input__max{
  position: absolute;
  width: 100%;
}

input[type="range"] {
  -webkit-appearance: none; 
  width: 100%; 
  background: transparent; 
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #cdcdcd;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  margin-top: -9px;
  position: relative;
  z-index: 9999;
  pointer-events: auto !important;
}

input[type="range"]::-moz-range-thumb {
  border: 1px solid #cdcdcd;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  pointer-events: auto !important;
}

input[type="range"]::-ms-thumb {
  border: 1px solid #cdcdcd;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  pointer-events: auto !important;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: $primaryColor;
  border-radius: 2px;
  pointer-events: none;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: $primaryColor;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: $primaryColor;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
  pointer-events: none;
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
  pointer-events: none !important;
}

input[type="range"]::-ms-fill-lower {
  background: $primaryColor;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type="range"]:focus::-ms-fill-lower {
  background: $primaryColor;
}

input[type="range"]::-ms-fill-upper {
  background: $primaryColor;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type="range"]:focus::-ms-fill-upper {
  background: $primaryColor;
}
