@import "../../assets/styles/resources";

.cardListHeader{
    display: flex;
    flex-direction: row;

    div{
        display: flex;
        align-items: center;
        width:50%;
    }

    &__button{
        background: transparent;
        border: none;
        font-size: 14px;
        font-weight: 500;
        color: $textColor;
        cursor: pointer;
        &__icon{
            margin-right: 4px;
        }
    }

    &__results{
        font-weight: 500;
        font-size: 14px;
        justify-content: flex-end;
    }
}